<a href="https://colab.research.google.com/github/RishithaAppikonda/CSS-/blob/main/Copy_of_Pandas_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is Pandas?**

Pandas is a Python library used for working with data sets.

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool.

**Why Use Pandas?**

Pandas is a Python library for data analysis.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

**NOTE: **

matplotlib for data visualization and NumPy for mathematical operations

# New Section

**What Can Pandas Do?**

Data analysis requires lots of processing, such as restructuring, cleaning or merging, etc.

There are different tools are available for fast data processing, such as Numpy, Scipy, Cython, and Panda.

But we prefer Pandas because working with Pandas is fast, simple and more expressive than other tools.

It can perform five significant steps required for processing and analysis of data irrespective of the origin of the data, i.e., load, manipulate, prepare, model, and analyze.

**Data Structures**

Data Structures are a way of organizing data so that it can be accessed more efficiently depending upon the situation. Data Structures are fundamentals of any programming language around which a program is built.

Pandas is an open-source library that uses for working with relational or labeled data both easily . It provides various data structures and operations for manipulating numerical data and time series. It offers a tool for cleaning and processes your data. It is the most popular Python library that is used for data analysis

It supports two data structures:

Series:series, which have a list-like structure,

Dataframe:which have a tabular structure.

**Series**
It is defined as a one-dimensional array that is capable of storing various data types.

 The row labels of series are called the index. We can easily convert the list, tuple, and dictionary into series using "series' method.

  A Series cannot contain multiple columns.

Pandas is a one-dimensional labeled array and capable of holding data of any type (integer, string, float, python objects, etc.)

**Syntax:**
 pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)


**Parameters:**

 data: It can be any list, dictionary, or scalar value.

  index: array-like or Index (1d)

dtype: str, numpy.dtype, or ExtensionDtype, optional

name: str, optional

copy: bool, default False

**DataFrame**

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns).

 A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

  Pandas DataFrame consists of three principal components, the data, rows, and columns.

**Creating a Pandas DataFrame**

It is a widely used data structure of pandas and works with a two-dimensional array with labeled axes (rows and columns). DataFrame is defined as a standard way to store data and has two different indexes, i.e., row index and column index. It consists of the following properties:

The columns can be heterogeneous types like int, bool, and so on.
It can be seen as a dictionary of Series structure where both the rows and columns are indexed. It is denoted as "columns" in case of columns and "index" in case of rows.

In the real world, a Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc. Dataframe can be created in different ways here are some ways by which we create a dataframe:

In [ ]:
import pandas as pd

In [ ]:
pd?

In [ ]:
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__deprecated_num_index_names', '__dir__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [ ]:
pd.show_versions()

/usr/local/lib/python3.10/dist-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 2e218d10984e9919f0296931d92ea851c6a6faf5
python           : 3.10.11.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.15.107+
Version          : #1 SMP Sat Apr 29 09:15:28 UTC 2023
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.5.3
numpy            : 1.22.4
pytz             : 2022.7.1
dateutil         : 2.8.2
setuptools       : 67.7.2
pip              : 23.1.2
Cython           : 0.29.34
pytest           : 7.2.2
hypothesis       : None
sphinx           : 3.5.4
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.9.2
html5lib         : 1.1
pymysql          : None
psycopg2         : 2.9.6
jinja2           : 3.1.2
IPython          : 7.34.0
pandas_datareader: 0.10.0
bs4              : 4.11.2
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : 2023.4.0
gcsfs            : None
matplotlib       : 3.7.1
numba            : 0.56.4
numexpr          : 2.8.4
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : 0.17.9
pyarrow          : 9.0.0
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.10.1
snappy           : None
sqlalchemy       : 2.0.10
tables           : 3.8.0
tabulate         : 0.8.10
xarray           : 2022.12.0
xlrd             : 2.0.1
xlwt             : None
zstandard        : None
tzdata           : 2023.3

In [ ]:
pd.__version__

'1.5.3'

pip show pandas: Displays information about a specific package.

In [ ]:
pip show pandas

Name: pandas
Version: 1.5.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: /usr/local/lib/python3.10/dist-packages
Requires: numpy, python-dateutil, pytz
Required-by: altair, arviz, cmdstanpy, cufflinks, datascience, db-dtypes, dopamine-rl, fastai, google-colab, gspread-dataframe, holoviews, mizani, mlxtend, pandas-datareader, pandas-gbq, plotnine, prophet, pymc, seaborn, sklearn-pandas, statsmodels, vega-datasets, xarray, yfinance

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [ ]:
import pandas as pd

In [ ]:
s=pd.Series(["Ind","Aus","Nz","US"])

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
len(s)

4

In [ ]:
s

0    Ind
1    Aus
2     Nz
3     US
dtype: object

In [ ]:
s=pd.Series(["Ind","Aus","Nz","Us"],index=["a","b","c","d"])

In [ ]:
s

a    Ind
b    Aus
c     Nz
d     Us
dtype: object

In [ ]:
country=["Ind","Aus","Nz","Us"]
cost=[1000,2000,3000,4000]

In [ ]:
sales=pd.Series(cost,index=country)

In [ ]:
sales

Ind    1000
Aus    2000
Nz     3000
Us     4000
dtype: int64

In [ ]:
#dictionary
data={"Ind":1000,"Aus":2000,"Nz":3000,"Us":4000}

**Note: ** : The keys of the dictionary become the labels.

In [ ]:
pd.Series(data)

Ind    1000
Aus    2000
Nz     3000
Us     4000
dtype: int64

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar[0])

1

To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

Series is like a column, a DataFrame is the whole table.

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [ ]:
EmployeeData={'ID':[101,102,103],
              'name':['Daniel','Butler','Morgan'],
              'age':[34,32,29],
              'city':['Goa','Agra','Delhi']
              }

In [ ]:
pd.DataFrame?

In [ ]:
EmpDB=pd.DataFrame(EmployeeData)
EmpDB

    ID    name  age   city
0  101  Daniel   34    Goa
1  102  Butler   32   Agra
2  103  Morgan   29  Delhi

In [ ]:
EmpDB=pd.DataFrame(EmployeeData,index=['a','b','c'])

In [ ]:
EmpDB

    ID    name  age   city
a  101  Daniel   34    Goa
b  102  Butler   32   Agra
c  103  Morgan   29  Delhi

Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [ ]:
myDictionary={'name':'Daniel','Age':31}

In [ ]:
myDictionary={'name':['Daniel'],'Age':[31]}
pd.DataFrame(myDictionary)

     name  Age
0  Daniel   31

In [ ]:
mydict={"Name":["Daniel","Lucas","Jamie","vishal","Vamshi"],"age":[31,23,45,67,34],"salary":[50000,60000,70000,80000,90000]}

In [ ]:
Emp=pd.DataFrame(mydict)
Emp

     Name  age  salary
0  Daniel   31   50000
1   Lucas   23   60000
2   Jamie   45   70000
3  vishal   67   80000
4  Vamshi   34   90000

In [ ]:
df=pd.DataFrame()

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
ColumnData=['ID','Emp','Salary','Exp']
df=pd.DataFrame(columns=ColumnData)
df

Empty DataFrame
Columns: [ID, Emp, Salary, Exp]
Index: []

In [ ]:
df=df.append({"ID":101,"Emp":"Vishal","Salary":50000,"Exp":10},ignore_index=True)
df

<ipython-input-24-84c179c1503a>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append({"ID":101,"Emp":"Vishal","Salary":50000,"Exp":10},ignore_index=True)

    ID     Emp Salary Exp
0  101  Vishal  50000  10

In [ ]:
df1=pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#append coulmns
df1['ID']=[1,2,3]
df1['Emp']=['A','B','C']
df1['Salary']=[10000,20000,30000]
df1['Exp']=[2,3,4]
df1

   ID Emp  Salary  Exp
0   1   A   10000    2
1   2   B   20000    3
2   3   C   30000    4

In [ ]:
df3=pd.DataFrame(columns=["Emp","Salary","Grade"],index=['a','b','c'])
df3

   Emp Salary Grade
a  NaN    NaN   NaN
b  NaN    NaN   NaN
c  NaN    NaN   NaN

In [ ]:
df3['Emp']=["Ronak","Daniel","Ajeet"]
df3

      Emp Salary Grade
a   Ronak    NaN   NaN
b  Daniel    NaN   NaN
c   Ajeet    NaN   NaN

In [ ]:
df4=pd.DataFrame([[1,2],[3,4]],columns=list("AB"))
df4

   A  B
0  1  2
1  3  4

In [ ]:
print(dir(pandas))

NameError: ignored

program to convert pandas module series to python list and its type

In [ ]:
import pandas as pd


evenNumbers = [2, 4, 6, 8, 10]

evenNumbersDs = pd.Series(evenNumbers)
print("Pandas Series and type")
print(evenNumbersDs)
print(type(evenNumbersDs))

print("\nConvert Pandas Series to Python list")
print(evenNumbersDs.tolist())
print(type(evenNumbersDs.tolist()))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>

Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

program to Convert a NumPy array to a Pandas series

In [ ]:
# importing the modules
import numpy as np
import pandas as pd

# creating an NumPy array
array = np.array([10, 20, 1, 2,
                   3, 4, 5, 6, 7])

# displaying the NumPy array
print("Numpy array is :")
display(array)

# converting the NumPy array
# to a Pandas series
series = pd.Series(array)

# displaying the Pandas series
print("Pandas Series : ")
display(series)

Numpy array is :

array([10, 20,  1,  2,  3,  4,  5,  6,  7])

Pandas Series :

0    10
1    20
2     1
3     2
4     3
5     4
6     5
7     6
8     7
dtype: int64